# 3/20
- やったこと
    - 	age	index_group_no	top12のテーブルを作った

In [35]:
import pandas as pd
import numpy as np

In [36]:
# データの読み込み
DATA_DIR = "../data/original/"
articles_df=pd.read_pickle(f'{DATA_DIR}articles.pkl')
customers_df=pd.read_pickle(f'{DATA_DIR}customers.pkl')
transactions_train_df=pd.read_pickle(f'{DATA_DIR}transactions_train.pkl' )

In [3]:
#articles_df = articles_df.head(10000)
#customers_df = customers_df.head(10000)
#transactions_train_df = transactions_train_df.head(10000)

In [38]:
# articles と customersをtransactionsを使って結合する
def create_features(articles_df,customers_df,transactions_train_df):
    tt_temp = transactions_train_df[["customer_id","article_id"]]
    a_df = articles_df[["article_id","index_group_no"]]
    c_df = customers_df[["customer_id","age"]]
    at_merged_df =  pd.merge(tt_temp,a_df)
    features_df = pd.merge(c_df,at_merged_df)
    features_df = features_df.dropna(how="all")
    return features_df

In [41]:
# １０までとってくる
def convert_age_into_10_delimited(df):
    df["age"] = df["age"].astype(np.int64)
    df["age"] = df["age"] / 10
    df["age"] = df["age"].astype(np.int64) 
    df["age"] = df["age"] * 10
    return df

In [40]:
features_df = create_features(articles_df,customers_df,transactions_train_df)

In [42]:
# ageの欠損値を0で埋める
def fillna_to_zero_in_age(df):
    df["age"] = df["age"].fillna(0)
    return df
features_df = fillna_to_zero_in_age(features_df)

ValueError: cannot convert float NaN to integer

In [7]:
features_df = convert_age_into_10_delimited(features_df)

In [26]:
# top 12のarticles_id
articles_most_buy_30 = list(features_df['article_id'].value_counts().head(30).index)

In [32]:
df = features_df

# ageとindex?group

In [28]:
count = 0

df = df.groupby(["age","index_group_no"])["article_id"].agg(lambda x:list(x)).reset_index()

In [29]:
import collections

# 上位12のarticle idをとってきておく
TOP_N = 12
def calc_top(ids):
    tmp = collections.Counter(ids)
    ids, _ = zip(*tmp.most_common())
    ids = list(ids)
    if len(ids) < TOP_N:
        return [*ids, *articles_most_buy_30][0:TOP_N]
    else:
        return ids[0:TOP_N]
df[[f"top{i}" for i in range(1,TOP_N+1)]] = df.apply(lambda x: calc_top(x["article_id"]), axis = 1,result_type='expand')#ここ一意にしてこれまで出てきたやつは除外とかできる？
df = df.drop(["article_id"],axis=1)

In [31]:
df.to_pickle("./temp_data/0320_final_full.pkl")

In [30]:
df

,age,index_group_no,top1,top2,top3,top4,top5,top6,top7,top8,top9,top10,top11,top12
0,0,1,372860001,610776002,464297007,610776001,372860002,608776002,156231001,399256001,351484002,579541001,179123001,568601006
1,0,2,706016001,706016002,189634001,399223001,759871002,706016003,717464001,355569001,706016015,706016006,636323001,399223033
2,0,3,685816002,636587001,569984001,514182003,685816001,514182002,593829002,570002002,575347003,301227002,685814001,570002001
3,0,4,309864002,628425001,552370002,571961001,693575001,487800027,657165001,306847002,657165002,627554034,616225028,617465001
4,0,26,720125001,484398001,564786001,680262001,730683001,720125007,680265002,791587001,678687001,708021001,757303012,740519002
5,10,1,464297007,372860002,673396002,372860001,684209004,688537004,684209013,741356002,351484002,688537011,723469001,599580052
6,10,2,706016001,759871002,706016002,759871001,733749001,759465001,448509014,706016003,706016006,706016015,748355003,759871025
7,10,3,685814003,685814001,685814033,685813001,685816002,685816001,685813003,685814048,685814005,685814002,685813002,685814022
8,10,4,554141018,309864002,552370002,554141001,317812001,309864013,686265002,337777001,623853004,628425001,552346001,731520001
9,10,26,720125001,484398001,730683001,791587001,720125007,564786001,918292001,740922001,809961002,866731001,852174001,810838010
10,20,1,372860001,156231001,464297007,610776002,372860002,673396002,610776001,351484002,688537004,562245046,158340001,590928001
11,20,2,706016001,706016002,759871002,448509014,399223001,706016003,706016015,759871001,554450001,706016006,717490008,448509001
12,20,3,685814001,685816002,685816001,685814003,685813001,575347003,685813003,685814033,685814005,598755001,685813002,570002002
13,20,4,309864002,552370002,624385002,624383007,624383004,556560001,333323038,333323030,333323018,750481001,686265002,624383005
14,20,26,720125001,484398001,730683001,564786001,791587001,854043005,720125007,810838010,757303012,680262001,852174001,678687001
15,30,1,610776002,464297007,372860001,562245001,160442007,158340001,610776001,608776002,562245046,351484002,565379001,111593001
16,30,2,706016001,706016002,717490008,399223001,711053003,554450001,717464001,706016003,759871002,448509014,706016015,658030011
17,30,3,685816002,685813001,685816001,575347003,685814001,598755001,570003002,301227002,598755002,685813002,542533001,598755015
18,30,4,556560001,309864002,620216017,554546015,552370002,333323030,556560005,660282001,556560009,493103034,624385002,624443008
19,30,26,720125001,484398001,564786001,730683001,708021001,720125007,740519002,757303012,738133005,769748002,678687001,730683041
20,40,1,372860001,610776002,372860002,568601006,399256001,351484002,572797001,562245001,673677002,562245046,572797002,610776001
21,40,2,706016001,706016002,706016003,399223001,759871002,706016015,554450001,554479001,636323001,554479005,399087014,706016006
22,40,3,575347003,685814001,685813001,685816002,720504001,685816001,685814003,570003002,598755001,730013002,720504008,569984001
23,40,4,309864002,552370002,628425001,337777001,657165002,554541016,693575001,198518010,552346001,657165001,403448008,657165010
24,40,26,720125001,484398001,564786001,740519002,730683001,708021001,680262001,720125007,678687001,720125041,791587001,805000001
25,50,1,372860001,568601006,372860002,610776002,751471001,673677002,678942001,579541001,399256001,573716012,160442010,608776002
26,50,2,706016001,706016002,399223001,706016003,759871002,636323001,554450001,448509014,706016015,706016006,399223029,554479001
27,50,3,685816001,685816002,685813001,575347003,720504001,685814001,685814003,570003002,501616007,570002002,570004009,569984001
28,50,4,309864002,552370002,554541016,628425001,337777001,657165002,198518010,657165001,552346001,403448008,552346014,693575001
29,50,26,720125001,484398001,740519002,730683001,564786001,680262001,720125007,805000001,791587001,708021001,739348004,678687001
30,60,1,579541001,399256005,610776002,399256001,610776001,678942001,673677002,573716012,572797002,796210010,783346001,562245050
31,60,2,706016001,706016002,399223001,636323001,636323002,400285006,519583013,399223029,679854001,706016003,399223033,554477005
32,60,3,685816001,570003002,570002002,685813001,570004010,685816002,569984001,570004009,598755001,763275001,636207001,501616007
33,60,4,686265006,677885022,309864002,624383007,677885021,661488007,661488006,624383005,556560001,485746002,624443008,628425001
34,60,26,720125001,484398001,740519002,805000001,720125007,730683001,739348004,680262001,564786001,720125041,791587001,739348006
35,70,1,399256005,579541001,399256001,610776001,796210010,399256023,673677002,610776002,783346001,573716012,620081001,690936006
36,70,2,636323001,636323002,399223001,636323005,679854001,706016002,845790003,636323003,400285006,519583013,706016001,554477005
37,70,3,570002002,685816001,685813001,598755002,570004009,578630002,569984002,570004010,636207001,495685006,461327006,636207005
38,70,4,686265006,690950002,716211001,624959005,309864002,703790001,556560001,552370002,657165010,430157001,681107007,657165002
39,70,26,805000001,484398001,740519002,720125001,749358001,678694001,622745001,720125041,678696003,749400010,696155002,573652001
40,80,1,743113003,610776001,523150002,673677004,399256005,537346026,695632002,751471001,591334019,573716012,756441001,562245018
41,80,2,595696024,806388002,706016001,744291001,754492001,754492002,679853020,762143001,636323002,759871002,798997001,845790002
42,80,3,569984001,569984002,685816001,570002002,570002001,685813037,763988011,569984026,764147009,662320001,570002008,301227002
43,80,4,591702004,611503010,553875012,309864013,575523003,554011005,600544002,637121002,645188002,655580002,645188003,657759002
44,80,26,738810004,866731001,739347001,680327001,740498001,442345027,681681001,653706024,742034002,657116001,793443001,659285001
45,90,1,683001014,568597006,568597007,776735009,833021002,534181011,796210004,761639001,833021004,738943003,803592001,470789001
46,90,2,399223029,399223028,618180001,794454002,659550004,659550005,659550006,677930015,540701004,540701003,540701008,797058002
47,90,3,525815001,641266001,602409007,598755011,598755002,769867002,715024001,478992009,685602019,701134009,701134004,701134010
48,90,4,623997001,655580006,545449034,695178001,808359001,808389001,552370002,620424023,703318004,639127006,618840004,618844001
49,90,26,567993016,678694004,678687011,710554004,693321008,742079002,805011011,805011019,918292001,854663005,701208001,701208002